@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
  --main_border_color: #000000;
}


body {
  margin: 0px;
  padding: 0px;
}

#main {
  display: grid;
  grid-template-columns: 20rem 20rem;
  grid-gap: 1rem;
  width: 41rem;
  border: 0.5rem solid var(--main_border_color);
  margin: auto;
  margin-top: 8rem;
  height: 12rem;
  padding: 0.5rem;
}

#numContainer {
  grid-row: span 3/ auto;
  border: 0.5rem solid var(--main_border_color);
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  text-align: center;
  font-size: 2rem;
}

html {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}

input[type="number"]{
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  border: 5px solid var(--main_border_color);
}

input[type="button"]{
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  border: 5px solid var(--main_border_color);
}

*:focus {
    outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (max-width: 1100px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 10px;
  }

  #main {
    grid-template-columns: 41rem;
    grid-template-rows: 10rem 10rem 10rem 17rem;
    height: 50rem;
  }

  #numContainer{
    grid-row: 4/4;
    font-size: 3rem;
  }

  input[type="number"]{
    font-size: 3rem;
  }

  input[type="button"]{
    font-size: 2rem;
  }
}

